.col-sm, .col-sm-6 {
  margin: 15px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='magenta' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='magenta' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {}

/*.bottom {
  margin-top: 30%;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 30px;
  grid-template-columns: 200px 200px auto;
}*/